{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="" id="app">
        <App></App>
    </div>
    <section class="bg-white h-32 py-2 px-6 my-5 flex flex-col justify-center items-center">
        <div class="w-11/12 mx-auto ">
            <h3 class="text-xl font-semibold pb-2">Suscribe to our newsletter</h3>
            <form action="">
                <div class="flex items-center justify-between md:justify-start ">
                    <label for="email">Email</label>
                    <div class="border border-gray-500 py-2 px-6 w-3/5 md:w-1/2 ">
                        <input class="w-full focus:outline-none " type="email">
                    </div>
                    <div class="md:ml-5">
                        <button class="bg-purple-500 text-white py-2 px-6">Suscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
